<ion-header>
  <ion-toolbar>
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>


    <ion-col>
      <ion-row>  
        <ion-label color="primary" >Paso 1:</ion-label>
      </ion-row>

      <ion-row>  
        <ion-label>Sincroniza los productos (requiere conexión a internet)
        </ion-label>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>  
        <ion-label color="primary">Paso 2:</ion-label>
      </ion-row>

      <ion-row>  
        <ion-label>Registra tu oferta (con o sin internet)
        </ion-label>
      </ion-row>
    </ion-col>

    <ion-col>
      <ion-row>  
        <ion-label color="primary">Paso 3:</ion-label>
      </ion-row>

      <ion-row>  
        <ion-label>  Envía  tu oferta para ser considerada en nuestra tienda (también requiere internet)
        </ion-label>
      </ion-row>
    </ion-col>


</ion-grid>
</ion-content>
