
<ion-header class="ion-no-border">
</ion-header>

<ion-content >
  <div class="fullheight contentInto">
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>

      <ion-row >
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" >
          <div >
            <img  src="../../../assets/share/image.png">
          </div>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-item>
              <ion-icon name="person-outline"></ion-icon>
              <ion-input  name="name" type="text" placeholder="Usuario" autocomplete="name" ngModel required autocorrect="off"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input name="password" type="password"  placeholder="Clave" autocomplete="password" ngModel required autocorrect="off"></ion-input>
            </ion-item> 
          <div class="ion-padding-top">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Ingresar</ion-button>
          </div>
          <div class="ion-padding-top">
            <ion-button size="large" (click)="olvidar()" expand="block">Olvidar datos de ingreso</ion-button>
          </div>

          <div class="ion-text-center">
            <ion-note id="msg" color="danger"></ion-note>
          </div>
        </ion-col>
      </ion-row>
      <div class="ion-text-center">
        <ion-card-title><h6><a>versión 1.0.8</a></h6></ion-card-title>
      </div>
    </ion-grid>
  </form>
  </div>
</ion-content>
